**/*~
**/*.log
**/target
**/Cargo.lock
zebraix/doc/design/JaywalkBuilder.html
zebraix/doc/design/JaywalkBuilder.pdf
zebraix/doc/design/JaywalkConcepts.html
zebraix/doc/design/JaywalkConcepts.pdf
zebraix/doc/design/RatQuad.html
zebraix/doc/design/RatQuad.pdf
zebraix/doc/design/DesignDrawableSvg.html
zebraix/doc/design/DesignDrawableSvg.pdf

*~
*.aux
*.log
*.blg
*.toc
*.out
*.bbl

patinon/experimental/doc/archive/StickySituations.loc
patinon/experimental/doc/archive/StickySituations.mw
patinon/experimental/doc/archive/RoughMaterial.loc
patinon/experimental/doc/archive/RoughMaterial.mw
