**/*~
**/*.log
zebraix/doc/design/JaywalkBuilder.html
zebraix/doc/design/JaywalkBuilder.pdf
zebraix/doc/design/JaywalkConcepts.html
zebraix/doc/design/JaywalkConcepts.pdf
zebraix/doc/design/RatQuad.html
zebraix/doc/design/RatQuad.pdf
